.vertical-menu {
 width: 500px;
 text-align:center;
 font-style: 'courier';
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.vertical-menu a {
  background-color: #4202f3;
  color:black;
  display: block;
  padding: 3px;
  text-decoration: none;
}

.vertical-menu a:hover{
  background-color: #4202f3;
}
